body{
    color: white;
}

.container-fluid{
    background-color: rgb(255, 127, 80);
}

.navbar{
    background-color: rgb(80, 160, 215);
}

.navbar .nav-item a{
    color: white !important;
    font-weight: bold;
    font-style: italic;
}

.navbar .nav-item a:hover{
    color: black !important;
}

.classtopo{
    text-decoration: none;
    color: white;
}

.classtopo:hover{
    text-decoration: none;
    color: black !important;

}

.list-group-item .list-group-item-info{
    background-color: rgb(80, 160, 215);
}