body{
    color: white;
    background-color: rgb(255, 127, 80);

}

.container-fluid{
    background-color: rgb(255, 127, 80);
    border-color: rgb(80, 160, 215);
    border-style: solid;
    border-width: 2px;
}

.navbar{
    background-color: rgb(80, 160, 215);
}

.navbar .nav-item a{
    color: white !important;
    font-weight: bold;
    font-style: italic;
}

.navbar .nav-item a:hover{
    color: black !important;
}

hr{
    clear: right;
    height:2px;
    color:white;
    background-color:white;
}

#alvaroitulogo{
    width: 250px;
}

#alvaroitutexto{
    width: 400px;
}

#imgTopo{
    width: 87px;
    height: 40px;
}

#imgTopo:hover{
    background-color: rgb(80, 160, 215);
}

.float-sm-right{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    z-index: 2;
}

#aBar{
    color: white;
    text-decoration: none;

}

#aBar:hover{
    color: black;
    text-decoration: none;
}

#aYoutube{
    color: white;
    text-decoration: none;

}

#aYoutube:hover{
    
    text-decoration: none;
    cursor: not-allowed;
}

.list-group-item{
    color: black;
    font-weight: bold;
    background-color:white;

}

.list-group-item .list-group-item-light{
    color: black;
    font-weight: normal;
    background-color:white;
    
}

.list-group-item .list-group-item-info{
    background-color: rgb(80, 160, 215);
    color: white;
}

span{
    font-weight: bold;
}







